  <div class="jumbotron">
    <h1>thulunaduFoods</h1>
    <p>The choice is limited but food taste is authentic. try the pulimunchi or fish curry, appam and stew and the very own chicken curries served with neer dosa ar steaming hot Rice. We tried prawn ghee roast, seer fish curry, marwai sukka, chicken biryani, appam and chicken stew and neer dosa.</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/images/Masaledaar-Chicken.jpg" target="_blank">
          <img src="/images/Masaledaar-Chicken.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Chicken Masala mangalorestyle.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/images/chepala-pulusu.jpg" target="_blank">
          <img src="/images/chepala-pulusu.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Manglore style fish curry.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/images/Mangalorean_style_Basale_Pundi_Recipe_Steamed_rice_dumpling_in_Onion_Gravy.jpg" target="_blank">
          <img src="/images/Mangalorean_style_Basale_Pundi_Recipe_Steamed_rice_dumpling_in_Onion_Gravy.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Mangalorean style Basale Pundi Recipe Steamed rice dumpling in Onion Gravy</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/images/Mangalorean_Style_Lobia_Gazzi_Recipe_Black_eyed_peas_in_Coconut_Curry_Recipe.jpg" target="_blank">
          <img src="/images/Mangalorean_Style_Lobia_Gazzi_Recipe_Black_eyed_peas_in_Coconut_Curry_Recipe.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Mangalorean style Lobia Gazzi Recipe Black eyed peas in Coconut Curry Recipe</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/images/oetnz6efjficb_bigger.jpg" target="_blank">
          <img src="/images/oetnz6efjficb_bigger.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Mangalorean style fish in Coconut Curry Recipe</p>
          </div>
    </div>
  </div>
</div>
