
<div class="thumbnail">
  <a href="/menu/thulunadfoodmenu.jpg" target="_blank">
    <img src="/menu/thulunadfoodmenu.jpg" alt="Nature" style="width:100%">
    <div class="caption">
      <p>Mangalorean style fish in Coconut Curry Recipe</p>
    </div>
